<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>E-Library needs access to your Camera in order to add cover photo.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>E-Library needs access to your Photo Library in order to add cover photo.</string>
</dict>
</plist>
